*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Comfortaa';
}

html, body{
    height: 100%;
    width: 100%;
}

#main{
    height: 100%;
    width: 100%;
    
}

#nav1{
    height: 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 40px;
    font-size: 15px;

}

.logo{
    display: flex;
}

.circle{
    width: 20px;
    height: 20px;
    background-color: #000;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

#nav1-options{
    display: flex;
    align-items: center;
    gap: 40px;
}

#nav1-options #lang{
    display: flex;
    gap: 10px;
}

#nav1-options #lang #lang2{
    color: #adadad;
}

#nav2{
    height: 5%;
    display: flex;
    gap: 80px;
    font-size: 15px;
    padding: 0 40px;
    align-items: center;
}

#nav2 .logo{
    display: none;
}

#nav2 i{
    display: none;
}

#content{
    height: 85%;
    width: 100%;
}

#text-content{
    height: 40%;
    width: 100%;
    overflow-x: auto;
    display: flex;
    flex-wrap: nowrap;
}

#text-content::-webkit-scrollbar{
    background-color: transparent;
    height: 4px;
    width: 0px;
}

#text-content::-webkit-scrollbar-thumb{
    background-color: orangered;
    border-radius: 80px;
    -webkit-border-radius: 80px;
    -moz-border-radius: 80px;
    -ms-border-radius: 80px;
    -o-border-radius: 80px;
}

.elem{
    height: 100%;
    width: 90%;
    flex-shrink: 0;
    padding: 40px;
}

.elem h1{
    font-size: 12vw;
    font-weight: 400;
}

#image-content{
    height: calc(100% - 40% - 4px);
    width: 100%;
}
#image-content img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 0 20%;
}

@media only screen and (max-width: 600px) {
    #main{
        height: 100%;
        width: 100%;
    }
    
    #nav1{
        height: 10%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 20px;
        font-size: 10px;
    
    }

    #nav1 .logo{
        display: none;
    }

    .circle{
        width: 20px;
        height: 20px;
        background-color: #000000;
        border-radius: 50%;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        -ms-border-radius: 50%;
        -o-border-radius: 50%;
    }
    
    #nav1-options{
        display: flex;
        align-items: center;
        gap: 40px;
    }
    
    #nav1-options #lang{
        display: flex;
        gap: 5px;
    }
    
    #nav1-options #lang #lang2{
        color: #adadad;
    }
    
    #nav2{
        height: 5%;
        display: flex;
        gap: 80px;
        font-size: 15px;
        padding: 0 15px;
        align-items: center;
        justify-content: space-between;
    }

    #nav2 .logo{
        display: flex;
    }

    #nav2 h5{
        display: none;;
    }

    #nav2 i{
        display: flex;
        font-size: 30px;
    }
    
    #content{
        height: 85%;
        width: 100%;
    }
    
    #text-content{
        height: 35%;
        width: 100%;
        overflow-x: auto;
        display: flex;
        flex-wrap: nowrap;
    }

    .elem{
        height: 100%;
        width: 140%;
        flex-shrink: 0;
        padding: 40px 20px;
    }

    .elem h1{
        font-size: 18vw;
    }

    #image-content{
        height: calc(100% - 35% - 4px);
        width: 100%;
    }
    #image-content img{
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: 0 20%;
    }
}